.OrderProcedure{
    width: min(1500px, 90%);
    margin: 0 auto 100px;
   
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: 1fr;
    gap: 1rem;
    position: relative;

}
.OrderProcedure .OrderStep{

}
.OrderProcedure .OrderStep{
    
    height: auto;
    
    top:0;
    left: 0;
    transform: translateX(-200px);
    opacity: 0;
    transition: all 2s ease;
   
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
    h5{
        color: red;
    }
    p{
        text-align: justify;
        
    }
    
    
}