.FasteningsContainer {
  width: min(1500px, 90%);
  margin: 0 auto;
  padding: 20px;
  margin-top: 200px;
}

.FasteningsHero {
  text-align: center;
  padding: 60px 20px;
  background: #f9f9f9;
}

.FasteningsHero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: red;
}

.FasteningsHero p {
  font-size: 1.2rem;
  color: #666;
  max-width: 800px;
  margin: 0 auto;
}
.FasteningsTypes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.FasteningsTypes img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}