body{
    position: relative;
 }

 ul{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

.navbar_background{
    position: sticky;
    top:0;
    width: 100%;
    z-index: 100;
}

.Navbar_v2{
    background:rgb(255, 255, 255);
    color: black !important;
}


.social_media{
    /*background:#ec430f; */
    background:red;
    
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.social_media a > *{
    text-align: center !important;
    height: 30px !important;
    width: 30px !important;
    padding: 10px !important;
    
}
.social_media .social_media_text{
    display: contents;
}
.social_media a{
    color: white;
    text-decoration: none;
    
    margin: 0 10px !important;
    transition: all 0.3s ease-in-out !important;
}

@Media (max-width: 768px) {
    .social_media {
        padding: 10px !important;
        gap: min(10px, 0.1rem) !important;
    }
    

    .social_media a > *{
        text-align: center !important;
        height: 30px !important;
        width: 30px !important;
    }
}
@media (max-width: 576px) {
    .social_media {
      display: grid !important;
      grid-template-columns: repeat(4, 1fr) !important;
      gap: 8px !important;
      justify-items: center; 
    }
    .social_media a > *{
       margin: 0;
       padding: 0 !important;
        height: 20px !important;
        width: 20px !important;
    }
    .social_media_text {
      grid-column: span 2; 
      justify-self: center; 
      font-size: 14px; 
      padding: 8px; 
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
    }
    .language_switcher > *{
        grid-column: span 2;
        background: #ec430f;
    }
  }