.OurProductsBG {
  background-color: #547081;
}

.OurProducts {
  width: min(1500px, 90%);
  margin: 100px auto;
}

.OurProducts h1 {
  color: white;
}

.OurProductsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.GridProduct {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.GridProductText {
  padding-left: 1rem;
  padding-right: 1rem;
}

.GridProductText h2 {
  font-weight: 700;
}

.GridProduct img {
  width: 100%;
  aspect-ratio: 1 / 1; /* Zachowuje proporcje 1:1 (kwadrat), możesz zmienić np. na 16/9 */
  object-fit: cover; /* Przycina, jeśli proporcje się różnią */
}

@media (max-width: 1200px) {
  .GridProduct img {
    width: 100%;
    height: -webkit-fill-available;
    object-fit: cover;
  }
  .OurProductsGrid {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}