.AboutUsContainer{
    width: min(1500px, 90%);
    margin: 200px auto 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    
}
.AboutUsContainer h1{
    text-align: left;
    color: red;
}
.AboutUsContainer .ImagesSlider{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.AboutUsContainer .ImagesSlider .LeftSlide{
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: all 0.8s ease;
    opacity: 0;
    transform: translateX(-20%);
    margin-right: 100px;
    h2{
        color: red;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    p{
        text-align: justify;
    }
}
.AboutUsContainer .ImagesSlider .RightSlide{
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: all 0.8s ease;
    opacity: 0;
    transform: translateX(20%);
    margin-left: 100px;
    h2{
        color: red;
    }
    p{
        text-align: justify;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.AboutUsContainer .ImagesSlider:nth-child(even){
     .LeftSlide{
        box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
    padding: 2rem;
    margin: 5rem 100px 5rem 0;
     }
    
}
.AboutUsContainer .ImagesSlider:nth-child(odd){
     .RightSlide{
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
    padding: 2rem;
    margin: 5rem 0 5rem 100px;;
     }
    
}

@media (max-width: 1600px) {
    .AboutUsContainer .ImagesSlider{
        grid-template-rows: 70%;
    }
}

@media (max-width: 992px) {
    .AboutUsContainer .ImagesSlider{
    display: flex;
    flex-direction: column;
    
    margin: 0 0 100px 0;
    
}
.AboutUsContainer .ImagesSlider .LeftSlide{
    transition: all 0.8s ease;
    opacity: 0;
    transform: translateX(-15%);
    margin: 0 0 100px 0 !important;
    
    img{
        width: 100%;
    }
    p{
        text-align: justify;
    }
}
.AboutUsContainer .ImagesSlider .RightSlide{
    transition: all 0.8s ease;
    opacity: 0;
    transform: translateX(15%);
    margin:  0 0 100px 0 !important;
    p{
        text-align: justify;
    }
    img{
        width: 100%;
    }
}
.AboutUsContainer .ImagesSlider:nth-child(odd){
    flex-direction: column-reverse;
}

  
}

.CTA {
width: min(1500px, 90%);
  margin: 100px auto;
  padding: 20px;
  
  text-align: center;
  padding: 60px 20px;
  background: #f0f0f0;
}

.CTA h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.CTA p {
  font-size: 1.1rem;
  color: #666;
  text-align: center;
  margin-bottom: 30px;
}


